[inputgroup] { 
    display: flex;
    flex-direction: column-reverse;

    &, & * { transition-duration: .3s !important }

    [formcontrol] {
        --p: .8em;
        padding: 1.1em;
        padding-top: var(--p);
        padding-bottom: var(--p);
        border-radius: 3px;
        background: #f9f9f9; // #f4f3fe;
        outline: none !important;
        border: solid 1px transparent;
        &:focus { border-color: #3b82f6AF;
        }
        &:focus ~ [label] { color: #3b82f6AF;
        }
    }
}


[checkbox-container] {

    [checkboxgroup] {
        --p: .6em;
        padding: 1em;
        padding-top: var(--p);
        padding-bottom: var(--p);
        border-radius: 4px;
        background: #f9f9f9;
        width: 100%;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    & [icon]{ opacity: 0; color: #3b82f6AF; }
    & input { display: none !important; }
    & input:checked + [checkboxgroup] { background-color: #78a9f929; color: #3b82f6;
        // background-color: #16a34a; color: white !important;
    }
    & input:checked + * [icon] { opacity: 1 !important;
    }
    &, & * { transition-duration: .3s !important;
    }

}


[disabled] { opacity: .2
}