[run]
# Folders/files to ignore during measurement
omit =
    */test/*
    */config/*
    */command/import/*
    */docker/*
    */requirements/*
    */__pycache__/*
    */venv/*
    */.venv/*
    */migrations/*
