<div class="mx-auto w-9/12">
    
    <app-navbar></app-navbar>

    <div class="flex flex-row w-100">
        <div class="py-20 w-[45%]">
        
            <h1 title class="text-6xl font-extrabold tracking-wide">EstateViewer</h1> 
            <div description class="mt-12 text-justify">
                Explore property listings across Madrid's neighborhoods. Receive accurate price predictions for houses and apartments. Customize your predictions based on location, size, and other parameters. Make informed decisions on buying, selling, or investing in Madrid real estate. 
            </div>
    
            <div separator></div>
            <a button [routerLink]="['/predictions']" class="text-sm tracking-wide px-10 py-3 mb-5 mt-10 rounded-full">Get Started</a>
    
        </div>
        <div class="w-[55%] flex items-center justify-end z-0">
            <img class="w-[80%]" src="/assets/homepage.png" style="transform-origin: center; transform: scale(1.2);"/>
        </div>
    </div>

        
</div> 
